In [ ]:
# Python - Using pandas

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Object Creation 
s = pd.Series([1,2,3,np.nan,4,5])
s

In [ ]:
dates = pd.date_range("20220722", periods=31)
dates
df = pd.DataFrame(np.random.randn(31,4), index=dates,columns=list("ABCD"))
df.head()

In [ ]:
df.to_numpy()

In [ ]:
df.describe

In [ ]:
df.T # to transpose data means rows to columns

In [ ]:
df.sort_index(axis=1,ascending=True)

In [ ]:
df.sort_values(by="B",ascending=True)

In [ ]:
df["A"]

In [ ]:
df[0:2]

In [ ]:
df[1:2] # row wise selection

In [ ]:
df.loc[dates[0]] # 0 mean is index data at index[0]

In [ ]:
df.loc[:,["A","B"]]

In [ ]:
df.loc["20220724":"20220728",["A","C"]]

In [ ]:
df.loc["20220724",["A","B","C"]]

In [ ]:
df.at[dates[0],"B"]

In [ ]:
df.iloc[2]

In [ ]:
df.iloc[3:6] # index[3] to  index[6]

In [ ]:
df.iloc[3:6,0:3] # 3:6 rows  , 0:3 columns

In [ ]:
df[df["A"]>1]

In [ ]:
df[df["B"]<0]

In [ ]:
df2["E"]=["one","two","three","one","two","three","one","two","three","one","two","three","one","two","three","one","two","three","one","two","three","one","two","three","one","two","three","one","two","three","four"]
df2.head()

In [ ]:
df2 ["mean"]=[1,2,3,4,5,6,7,8,9,10,1,2,3,4,5,6,7,8,9,10,1,2,3,4,5,6,7,8,9,10,11]
df2.head()

In [ ]:
df2 = df2.iloc[:,0:3]
df2.head()

In [93]:
# own practice 
# libraries are imported at the head not need to import again

session = pd.date_range("20220101",periods=10)
z = pd.DataFrame(np.random.randn(10,5), index=session,columns=list("ABCDE"))
z.loc["20220102",["A","B"]]
z.iloc[0:2,:]
z.at[session[2],"E"]
z["F"]=["1st","2nd","3rd","4th","5th","6th","7th","8th","9th","10th"]
z.iloc[:,:]

                   A         B         C         D         E     F
2022-01-01 -0.723247 -0.589688  1.928546  1.968316 -0.375857   1st
2022-01-02  0.619235  1.531585 -3.371063  1.191806  0.273162   2nd
2022-01-03  1.233894  0.106274 -1.519729 -1.056330  0.925699   3rd
2022-01-04  0.811708 -0.780748 -0.915184 -0.745135 -0.619559   4th
2022-01-05  1.306716 -1.035915 -0.223066  1.377063 -0.684232   5th
2022-01-06 -1.232419  0.091828  2.546359  0.142057 -0.088073   6th
2022-01-07  1.225564 -0.633990  1.154576  0.252692 -0.330111   7th
2022-01-08 -1.196297  1.600115 -0.482394  0.612339 -0.653157   8th
2022-01-09 -0.611846  0.640425 -0.821358 -0.456675 -0.106759   9th
2022-01-10 -1.728579  0.057070  0.812557  1.330002  0.425536  10th